<!DOCTYPE html>
<html>
  <head>
    <title>Number Template</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/main.css') }}">
  </head>
  <body>
    <header>
      <h1>Number: {{ n }}</h1>
    </header>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/hbnb">HBNB</a></li>
        <li><a href="/c/{{ text }}">C {{ text|replace("_", " ") }}</a></li>
        <li><a href="/python/">Python is cool</a></li>
      </ul>
    </nav>
    <main>
      <p>This is a page for displaying the number {{ n }}.</p>
    </main>
  </body>
</html>

